<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
	<add key="GMapAPIKey" value="Key your key"/>
    <add key="DBIndex" value="ID,NAME,ADDRESS,TEL,TYPE,RATING,STAY,LATITUDE,LONTITUDE,URL,WEBSITE,TAG,PLACEID,DETAILPLACEID,Visit_STATUS,Delete_STATUS,CREATE_DATE" />
    <add key="DBPath" value="D:\ChiaLi\專案區\旅遊編輯器\databases\DataBases.csv"/>
    <add key="DBDeletePath" value="D:\ChiaLi\專案區\旅遊編輯器\databases\DB_delete\DataBases.csv" />
    <add key="DBRowPath" value="D:\ChiaLi\專案區\旅遊編輯器\databases\DataBases_row.csv" />
    <add key="DBImagesPath" value="D:\ChiaLi\專案區\旅遊編輯器\databases\images\" />
    <add key="listview1_col_show" value="ID:ID:false,NAME:景點名稱:true,ADDDRESS:地址:true,TEL:電話:true,TYPE:類型:true,RATING:星數:true,STAY:建議停留時間:true,LATITUDE:緯度:false,LONTITUDE:經度:false,URI:URI:true,WEBSITE:網站:true,TAG:TAG:false,PLACEID:PLACEID:false,DETAILPLACEID:DETAILPLACEID:false,Visit_STATUS:Visit_STATUS:false,Delete_STATUS:Delete_STATUS:false,CREATE_DATE:建立的日期:true" />
    <add key="DBTripPath" value="D:\ChiaLi\專案區\旅遊編輯器\databases\DataBases_travel.csv" />
    <add key="DBTripCSVPath" value="D:\ChiaLi\專案區\旅遊編輯器\databases\travel_info\" />
	<add key="DBCountries" value="D:\ChiaLi\專案區\旅遊編輯器\countryData\taiwan_district" />
  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.113.0" newVersion="1.0.113.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>